[color]
	ui = auto
[init]
	defaultBranch = master
[pull]
	rebase = false
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
